<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ComCastTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A0B682C1D5A97DC00E1F935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A0B68431D5A97DC00E1F935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A0B684E1D5A97DD00E1F935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
